@font-face {
  font-family: "bbx-font"; /* Project id 1023354 */
  src: url('iconfont.woff2?t=1654485355711') format('woff2'),
       url('iconfont.woff?t=1654485355711') format('woff'),
       url('iconfont.ttf?t=1654485355711') format('truetype');
}

.bbx-font {
  font-family: "bbx-font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bbx-icon-a-kefufenxiermaikefu:before {
  content: "\e76c";
}

.bbx-icon-tongji1:before {
  content: "\e76e";
}

.bbx-icon-shangbiao:before {
  content: "\e76d";
}

.bbx-icon-email:before {
  content: "\e762";
}

.bbx-icon-Seo:before {
  content: "\e763";
}

.bbx-icon-sousuo1:before {
  content: "\e764";
}

.bbx-icon-banquan:before {
  content: "\e765";
}

.bbx-icon-wangyesheji:before {
  content: "\e766";
}

.bbx-icon-a-qiyeshangbiao1:before {
  content: "\e767";
}

.bbx-icon-a-24gl-lock2:before {
  content: "\e768";
}

.bbx-icon-gongsikehu:before {
  content: "\e769";
}

.bbx-icon-wangye:before {
  content: "\e76a";
}

.bbx-icon-youhua2:before {
  content: "\e761";
}

.bbx-icon-daosvgwenjian:before {
  content: "\e760";
}

.bbx-icon-gengduo1:before {
  content: "\e75f";
}

.bbx-icon-daosvgwenjian-021:before {
  content: "\e758";
}

.bbx-icon-daosvgwenjian-03:before {
  content: "\e759";
}

.bbx-icon-daosvgwenjian-04:before {
  content: "\e75a";
}

.bbx-icon-daosvgwenjian-012:before {
  content: "\e75b";
}

.bbx-icon-daosvgwenjian-06:before {
  content: "\e75c";
}

.bbx-icon-daosvgwenjian-05:before {
  content: "\e75e";
}

.bbx-icon-daosvgwenjian-011:before {
  content: "\e757";
}

.bbx-icon-baohexiaojielogo:before {
  content: "\e755";
}

.bbx-icon-baohexiaojielogo-BOX-01:before {
  content: "\e756";
}

.bbx-icon-daosvgwenjian-01:before {
  content: "\e753";
}

.bbx-icon-daosvgwenjian-02:before {
  content: "\e754";
}

.bbx-icon-do-windowsx:before {
  content: "\e752";
}

.bbx-icon-jiantou3:before {
  content: "\e751";
}

.bbx-icon-weibiaoti-2-041:before {
  content: "\e750";
}

.bbx-icon-weibiaoti-2-012:before {
  content: "\e74d";
}

.bbx-icon-weibiaoti-2-021:before {
  content: "\e74e";
}

.bbx-icon-weibiaoti-2-032:before {
  content: "\e74f";
}

.bbx-icon-weibiaoti-2-02:before {
  content: "\e74c";
}

.bbx-icon-weibiaoti-2-031:before {
  content: "\e74b";
}

.bbx-icon-weibiaoti-2-03:before {
  content: "\e744";
}

.bbx-icon-weibiaoti-2-04:before {
  content: "\e745";
}

.bbx-icon-weibiaoti-2-05:before {
  content: "\e746";
}

.bbx-icon-weibiaoti-2-06:before {
  content: "\e747";
}

.bbx-icon-weibiaoti-2-07:before {
  content: "\e749";
}

.bbx-icon-weibiaoti-2-08:before {
  content: "\e74a";
}

.bbx-icon-weibiaoti-2-011:before {
  content: "\e743";
}

.bbx-icon-123456789-01:before {
  content: "\e741";
}

.bbx-icon-weibiaoti-3:before {
  content: "\e73c";
}

.bbx-icon-weibiaoti-4-01:before {
  content: "\e73f";
}

.bbx-icon-weibiaoti-2-01:before {
  content: "\e740";
}

.bbx-icon-weibiaoti-2:before {
  content: "\e73b";
}

.bbx-icon-gou1:before {
  content: "\e73a";
}

.bbx-icon-yuanquan:before {
  content: "\e739";
}

.bbx-icon-shouji3:before {
  content: "\e738";
}

.bbx-icon-31:before {
  content: "\e737";
}

.bbx-icon-guanbi1:before {
  content: "\e736";
}

.bbx-icon-duihao:before {
  content: "\e734";
}

.bbx-icon-tuiguangguanjianci:before {
  content: "\e733";
}

.bbx-icon-weibiaoti--38:before {
  content: "\e731";
}

.bbx-icon-weibiaoti--39:before {
  content: "\e732";
}

.bbx-icon-wangzhan:before {
  content: "\e72c";
}

.bbx-icon-tuiguang:before {
  content: "\e72d";
}

.bbx-icon-pingtai:before {
  content: "\e72e";
}

.bbx-icon-zhuanqian:before {
  content: "\e72f";
}

.bbx-icon-youquanlogo:before {
  content: "\e730";
}

.bbx-icon-huabanfuben:before {
  content: "\e727";
}

.bbx-icon-huabanfuben1:before {
  content: "\e728";
}

.bbx-icon-huabanfuben2:before {
  content: "\e729";
}

.bbx-icon-huaban:before {
  content: "\e72a";
}

.bbx-icon-huabanfuben3:before {
  content: "\e72b";
}

.bbx-icon-weibiaoti-1:before {
  content: "\e726";
}

.bbx-icon-zhandianwangzhanhulianwangie:before {
  content: "\e725";
}

.bbx-icon-jiantouxia:before {
  content: "\e724";
}

.bbx-icon-weibiaoti--32:before {
  content: "\e71e";
}

.bbx-icon-weibiaoti--33:before {
  content: "\e71f";
}

.bbx-icon-weibiaoti--34:before {
  content: "\e720";
}

.bbx-icon-weibiaoti--35:before {
  content: "\e721";
}

.bbx-icon-weibiaoti--36:before {
  content: "\e722";
}

.bbx-icon-weibiaoti--37:before {
  content: "\e723";
}

.bbx-icon-icon2:before {
  content: "\e71c";
}

.bbx-icon-ai-user:before {
  content: "\e71d";
}

.bbx-icon-koukou:before {
  content: "\e716";
}

.bbx-icon-shouji2:before {
  content: "\e717";
}

.bbx-icon-chengyuan:before {
  content: "\e718";
}

.bbx-icon-xinfeng:before {
  content: "\e719";
}

.bbx-icon-dianhua:before {
  content: "\e71b";
}

.bbx-icon-xiala-:before {
  content: "\e715";
}

.bbx-icon-search:before {
  content: "\e714";
}

.bbx-icon-fawenjian:before {
  content: "\e712";
}

.bbx-icon-QCC-:before {
  content: "\e713";
}

.bbx-icon-mingcheng:before {
  content: "\e710";
}

.bbx-icon-fangda:before {
  content: "\e70f";
}

.bbx-icon-weibiaoti--29:before {
  content: "\e70c";
}

.bbx-icon-weibiaoti--30:before {
  content: "\e70d";
}

.bbx-icon-weibiaoti--31:before {
  content: "\e70e";
}

.bbx-icon-weibiaoti--19:before {
  content: "\e700";
}

.bbx-icon-weibiaoti--20:before {
  content: "\e701";
}

.bbx-icon-weibiaoti--21:before {
  content: "\e702";
}

.bbx-icon-weibiaoti--22:before {
  content: "\e703";
}

.bbx-icon-weibiaoti--23:before {
  content: "\e704";
}

.bbx-icon-weibiaoti--24:before {
  content: "\e706";
}

.bbx-icon-weibiaoti--25:before {
  content: "\e707";
}

.bbx-icon-weibiaoti--26:before {
  content: "\e708";
}

.bbx-icon-weibiaoti--27:before {
  content: "\e70a";
}

.bbx-icon-weibiaoti--28:before {
  content: "\e70b";
}

.bbx-icon-bianji:before {
  content: "\e6ff";
}

.bbx-icon-yuyuebiaodan:before {
  content: "\e6fe";
}

.bbx-icon-lianjie-:before {
  content: "\e6fc";
}

.bbx-icon-lianjie-1:before {
  content: "\e6fd";
}

.bbx-icon-iiii-:before {
  content: "\e6f6";
}

.bbx-icon-iiii-1:before {
  content: "\e6f7";
}

.bbx-icon-iiii-2:before {
  content: "\e6f8";
}

.bbx-icon-iiii-3:before {
  content: "\e6f9";
}

.bbx-icon-iiii-4:before {
  content: "\e6fa";
}

.bbx-icon-iiii-5:before {
  content: "\e6fb";
}

.bbx-icon-b-:before {
  content: "\e6e5";
}

.bbx-icon-b-1:before {
  content: "\e6e6";
}

.bbx-icon-b-2:before {
  content: "\e6e7";
}

.bbx-icon-b-3:before {
  content: "\e6ea";
}

.bbx-icon-b-4:before {
  content: "\e6f3";
}

.bbx-icon-b-5:before {
  content: "\e6f4";
}

.bbx-icon-b-6:before {
  content: "\e6f5";
}

.bbx-icon-xin-:before {
  content: "\e6ee";
}

.bbx-icon-i-:before {
  content: "\e6ef";
}

.bbx-icon-i-1:before {
  content: "\e6f0";
}

.bbx-icon-i-2:before {
  content: "\e6f1";
}

.bbx-icon-icon-4:before {
  content: "\e6e9";
}

.bbx-icon-icon-6:before {
  content: "\e6eb";
}

.bbx-icon-icon-7:before {
  content: "\e6ec";
}

.bbx-icon--4:before {
  content: "\e6e0";
}

.bbx-icon--5:before {
  content: "\e6e1";
}

.bbx-icon--6:before {
  content: "\e6e3";
}

.bbx-icon--7:before {
  content: "\e6e4";
}

.bbx-icon-huojian:before {
  content: "\e71a";
}

.bbx-icon-hongbao1:before {
  content: "\e6e2";
}

.bbx-icon-xiaolaba:before {
  content: "\e6df";
}

.bbx-icon-shensuoanniu:before {
  content: "\eb90";
}

.bbx-icon-shensuoanniu1:before {
  content: "\e6d9";
}

.bbx-icon-shousuo:before {
  content: "\e6da";
}

.bbx-icon-shousuo1:before {
  content: "\e6db";
}

.bbx-icon-jiantou2:before {
  content: "\e6dc";
}

.bbx-icon-lieshousuo:before {
  content: "\e6dd";
}

.bbx-icon-shousuo2:before {
  content: "\e6de";
}

.bbx-icon-fenxiaozhongxin:before {
  content: "\e6d8";
}

.bbx-icon-weibiaoti--18:before {
  content: "\e6d7";
}

.bbx-icon-weibiaoti--15:before {
  content: "\e6d4";
}

.bbx-icon-weibiaoti--16:before {
  content: "\e6d5";
}

.bbx-icon-weibiaoti--17:before {
  content: "\e6d6";
}

.bbx-icon--:before {
  content: "\e6bb";
}

.bbx-icon--1:before {
  content: "\e6bc";
}

.bbx-icon--2:before {
  content: "\e6be";
}

.bbx-icon--3:before {
  content: "\e6bf";
}

.bbx-icon-weibiaoti--11:before {
  content: "\e6d0";
}

.bbx-icon-weibiaoti--12:before {
  content: "\e6d1";
}

.bbx-icon-weibiaoti--13:before {
  content: "\e6d2";
}

.bbx-icon-weibiaoti--14:before {
  content: "\e6d3";
}

.bbx-icon-weibiaoti--7:before {
  content: "\e6cc";
}

.bbx-icon-weibiaoti--8:before {
  content: "\e6cd";
}

.bbx-icon-weibiaoti--9:before {
  content: "\e6ce";
}

.bbx-icon-weibiaoti--10:before {
  content: "\e6cf";
}

.bbx-icon-weibiaoti--4:before {
  content: "\e6c8";
}

.bbx-icon-weibiaoti--5:before {
  content: "\e6c9";
}

.bbx-icon-weibiaoti--6:before {
  content: "\e6ca";
}

.bbx-icon-diannao1:before {
  content: "\e6c4";
}

.bbx-icon-hengdepingban:before {
  content: "\e6c5";
}

.bbx-icon-pingban:before {
  content: "\e6c6";
}

.bbx-icon-xiaochengxu1:before {
  content: "\e6c7";
}

.bbx-icon-weibiaoti--:before {
  content: "\e6c0";
}

.bbx-icon-weibiaoti--1:before {
  content: "\e6c1";
}

.bbx-icon-weibiaoti--2:before {
  content: "\e6c2";
}

.bbx-icon-weibiaoti--3:before {
  content: "\e6c3";
}

.bbx-icon-tub-:before {
  content: "\e6b6";
}

.bbx-icon-tub-1:before {
  content: "\e6b8";
}

.bbx-icon-tub-2:before {
  content: "\e6b9";
}

.bbx-icon-tub-3:before {
  content: "\e6ba";
}

.bbx-icon-zhifu:before {
  content: "\e6cb";
}

.bbx-icon-zhifu1:before {
  content: "\e6b3";
}

.bbx-icon-shouyintai:before {
  content: "\e6b4";
}

.bbx-icon-shouyintai1:before {
  content: "\e6b5";
}

.bbx-icon-dianputuiguang:before {
  content: "\e6ae";
}

.bbx-icon-fenxiaodingdanzongyongjin:before {
  content: "\e6af";
}

.bbx-icon-fenxiaozongyongjin:before {
  content: "\e6b0";
}

.bbx-icon-ketixianyongjin:before {
  content: "\e6b1";
}

.bbx-icon-yongjin1:before {
  content: "\e6ad";
}

.bbx-icon-dianpu1:before {
  content: "\e6ac";
}

.bbx-icon-gou:before {
  content: "\e6ab";
}

.bbx-icon-tanhao:before {
  content: "\e6aa";
}

.bbx-icon-chenggong1:before {
  content: "\e6a9";
}

.bbx-icon-erweima:before {
  content: "\e6a8";
}

.bbx-icon-guanbi:before {
  content: "\e6a7";
}

.bbx-icon-zhanghuanquan:before {
  content: "\e6a5";
}

.bbx-icon-anquanshezhi:before {
  content: "\e6ed";
}

.bbx-icon-huahanAPP-icon--:before {
  content: "\e6b2";
}

.bbx-icon-yuyan:before {
  content: "\e6a4";
}

.bbx-icon-iconfontjiantou2:before {
  content: "\e6a3";
}

.bbx-icon-miaoshu:before {
  content: "\e8e4";
}

.bbx-icon-Shape:before {
  content: "\e770";
}

.bbx-icon-gantanhao:before {
  content: "\e6a2";
}

.bbx-icon-banbenhao:before {
  content: "\e9ed";
}

.bbx-icon-tupianjiazaishibai:before {
  content: "\e6a1";
}

.bbx-icon-chenggong:before {
  content: "\e69f";
}

.bbx-icon-shibai:before {
  content: "\e6a0";
}

.bbx-icon-xiangji:before {
  content: "\e69e";
}

.bbx-icon-denglumima-:before {
  content: "\e699";
}

.bbx-icon-guanlianweixinzhanghao-:before {
  content: "\e69a";
}

.bbx-icon-guanliQQzhanghao-:before {
  content: "\e69b";
}

.bbx-icon-shoujibangding-:before {
  content: "\e69c";
}

.bbx-icon-youxiangbangding-:before {
  content: "\e69d";
}

.bbx-icon-weiduxinxi:before {
  content: "\e697";
}

.bbx-icon-youhuiquan1:before {
  content: "\e698";
}

.bbx-icon-daijiesuan:before {
  content: "\e692";
}

.bbx-icon-ketixian:before {
  content: "\e694";
}

.bbx-icon-tixianzhong-:before {
  content: "\e695";
}

.bbx-icon-yitixian:before {
  content: "\e696";
}

.bbx-icon-daifukuan:before {
  content: "\e68a";
}

.bbx-icon-daishouhuo:before {
  content: "\e68b";
}

.bbx-icon-jifen:before {
  content: "\e68c";
}

.bbx-icon-shouhuodizhi:before {
  content: "\e68d";
}

.bbx-icon-wodejifen:before {
  content: "\e68e";
}

.bbx-icon-xinxifabu:before {
  content: "\e68f";
}

.bbx-icon-yue:before {
  content: "\e691";
}

.bbx-icon-wodeyuyue:before {
  content: "\e95d";
}

.bbx-icon-huiyuan1:before {
  content: "\e689";
}

.bbx-icon-jiahao:before {
  content: "\e685";
}

.bbx-icon-jianhao:before {
  content: "\e686";
}

.bbx-icon-shouqi:before {
  content: "\e683";
}

.bbx-icon-zhankai:before {
  content: "\e684";
}

.bbx-icon-biankuang:before {
  content: "\e681";
}

.bbx-icon-wenben:before {
  content: "\e680";
}

.bbx-icon-touxiang:before {
  content: "\e676";
}

.bbx-icon-bangdingshouji:before {
  content: "\e677";
}

.bbx-icon-wodefenxiao:before {
  content: "\e679";
}

.bbx-icon-wodedaili:before {
  content: "\e67a";
}

.bbx-icon-gerenxinxi:before {
  content: "\e67b";
}

.bbx-icon-shouhuodizhiguanli:before {
  content: "\e67c";
}

.bbx-icon-gouwuche2:before {
  content: "\e67e";
}

.bbx-icon-qiandaolingjifen:before {
  content: "\e67f";
}

.bbx-icon-xianjinzhanghu:before {
  content: "\e670";
}

.bbx-icon-wodejiangpin:before {
  content: "\e671";
}

.bbx-icon-wodeqiaquan:before {
  content: "\e672";
}

.bbx-icon-jifenshangcheng1:before {
  content: "\e673";
}

.bbx-icon-yuyueguanli:before {
  content: "\e675";
}

.bbx-icon-liuyanban:before {
  content: "\e66f";
}

.bbx-icon-huiyuanxiaoxi:before {
  content: "\e66d";
}

.bbx-icon-wodedingdan:before {
  content: "\e66a";
}

.bbx-icon-wodegerenzhongxin:before {
  content: "\e669";
}

.bbx-icon-shouye:before {
  content: "\e661";
}

.bbx-icon-logout:before {
  content: "\e65e";
}

.bbx-icon-tuichu:before {
  content: "\e682";
}

.bbx-icon-tuichu1:before {
  content: "\e660";
}

.bbx-icon-tuichu2:before {
  content: "\e75d";
}

.bbx-icon-shezhi2:before {
  content: "\e65d";
}

.bbx-icon-mima:before {
  content: "\e654";
}

.bbx-icon-yanzhengma:before {
  content: "\e655";
}

.bbx-icon-shouji1:before {
  content: "\e656";
}

.bbx-icon-yonghu:before {
  content: "\e65b";
}

.bbx-icon-yonghu1:before {
  content: "\e65c";
}

.bbx-icon-chacha:before {
  content: "\e653";
}

.bbx-icon-tupian:before {
  content: "\e652";
}

.bbx-icon-zhongmingming:before {
  content: "\e64f";
}

.bbx-icon-shanchu:before {
  content: "\e64b";
}

.bbx-icon-tianjia:before {
  content: "\e643";
}

.bbx-icon-fenlei-weixuanzhong:before {
  content: "\e646";
}

.bbx-icon-gouwuche1:before {
  content: "\e647";
}

.bbx-icon-lianjie:before {
  content: "\e64a";
}

.bbx-icon-dagou:before {
  content: "\e6a6";
}

.bbx-icon-all-menu:before {
  content: "\e642";
}

.bbx-icon-tuozhuai:before {
  content: "\e705";
}

.bbx-icon-5:before {
  content: "\e641";
}

.bbx-icon-xianshi:before {
  content: "\e667";
}

.bbx-icon-shutiao:before {
  content: "\e63d";
}

.bbx-icon-chanpinliebiaopubuliumoshi:before {
  content: "\e629";
}

.bbx-icon-shengqian:before {
  content: "\e690";
}

.bbx-icon-yongjin:before {
  content: "\e65a";
}

.bbx-icon-dianpu:before {
  content: "\e650";
}

.bbx-icon-tuandui:before {
  content: "\e62a";
}

.bbx-icon-shenqingquanxian:before {
  content: "\e640";
}

.bbx-icon-wuliuxinxi:before {
  content: "\e632";
}

.bbx-icon-fenxiao:before {
  content: "\e635";
}

.bbx-icon-huiyuan:before {
  content: "\e65f";
}

.bbx-icon-shezhi1:before {
  content: "\e637";
}

.bbx-icon-dailishang:before {
  content: "\e639";
}

.bbx-icon-jine:before {
  content: "\e658";
}

.bbx-icon-tuanduicankaoxian-:before {
  content: "\e63f";
}

.bbx-icon-icon-:before {
  content: "\e63a";
}

.bbx-icon-jiagoufenxiao:before {
  content: "\e63b";
}

.bbx-icon-caozuodaicaodaili:before {
  content: "\e63c";
}

.bbx-icon-fenxiaodingdan:before {
  content: "\e645";
}

.bbx-icon-donghua:before {
  content: "\e628";
}

.bbx-icon-dagouwancheng:before {
  content: "\e649";
}

.bbx-icon-close:before {
  content: "\e61c";
}

.bbx-icon-sousuo:before {
  content: "\e62b";
}

.bbx-icon-yuyuehuodong:before {
  content: "\e621";
}

.bbx-icon-tubiao-:before {
  content: "\e61b";
}

.bbx-icon-42wenzhang:before {
  content: "\e659";
}

.bbx-icon-yincang:before {
  content: "\e748";
}

.bbx-icon-wode:before {
  content: "\e73e";
}

.bbx-icon-gouwu:before {
  content: "\e657";
}

.bbx-icon-gouwuche:before {
  content: "\e630";
}

.bbx-icon-liwu:before {
  content: "\e742";
}

.bbx-icon-icon05:before {
  content: "\e693";
}

.bbx-icon-ysshouye2:before {
  content: "\e62f";
}

.bbx-icon-jiantou1:before {
  content: "\e636";
}

.bbx-icon-jiantou:before {
  content: "\e619";
}

.bbx-icon-stick_icon:before {
  content: "\e668";
}

.bbx-icon-help:before {
  content: "\e648";
}

.bbx-icon-shezhi:before {
  content: "\e662";
}

.bbx-icon-weibiaoti-:before {
  content: "\e617";
}

.bbx-icon-color-qq:before {
  content: "\e616";
}

.bbx-icon-color-WeChat:before {
  content: "\e631";
}

.bbx-icon-color-wb:before {
  content: "\e620";
}

.bbx-icon-color-Alipay:before {
  content: "\ea4c";
}

.bbx-icon-qq:before {
  content: "\e633";
}

.bbx-icon-wb:before {
  content: "\e688";
}

.bbx-icon-WeChat:before {
  content: "\e63e";
}

.bbx-icon-Alipay:before {
  content: "\e61d";
}

.bbx-icon-editor-pad:before {
  content: "\e644";
}

.bbx-icon-editor-pc:before {
  content: "\e638";
}

.bbx-icon-editor-applet:before {
  content: "\e600";
}

.bbx-icon-editor-mobile:before {
  content: "\e73d";
}

.bbx-icon-lang:before {
  content: "\e634";
}

.bbx-icon-lang-txt-zh-tw-copy:before {
  content: "\e7a1";
}

.bbx-icon-lang-txt-zh:before {
  content: "\e674";
}

.bbx-icon-lang-txt-en:before {
  content: "\e678";
}

.bbx-icon-lang-zh-tw:before {
  content: "\e663";
}

.bbx-icon-lang-zh:before {
  content: "\e664";
}

.bbx-icon-lang-en:before {
  content: "\e665";
}

.bbx-icon-add-plugin:before {
  content: "\e615";
}

.bbx-icon-app-store:before {
  content: "\e612";
}

.bbx-icon-menu-close:before {
  content: "\e626";
}

.bbx-icon-menu-show:before {
  content: "\e627";
}

.bbx-icon-menu-iocn:before {
  content: "\e62c";
}

.bbx-icon-menu-full:before {
  content: "\e62d";
}

.bbx-icon-back:before {
  content: "\e60f";
}

.bbx-icon-setting:before {
  content: "\e687";
}

.bbx-icon-drawdown:before {
  content: "\e611";
}

.bbx-icon-history:before {
  content: "\e64d";
}

.bbx-icon-return:before {
  content: "\e76b";
}

.bbx-icon-pin-out:before {
  content: "\e61f";
}

.bbx-icon-send:before {
  content: "\e6bd";
}

.bbx-icon-save:before {
  content: "\e709";
}

.bbx-icon-promote:before {
  content: "\e666";
}

.bbx-icon-pin-in:before {
  content: "\e610";
}

.bbx-icon-theme:before {
  content: "\e613";
}

.bbx-icon-bg:before {
  content: "\e6e8";
}

.bbx-icon-redo:before {
  content: "\e614";
}

.bbx-icon-blowUp:before {
  content: "\e66c";
}

.bbx-icon-preview:before {
  content: "\e711";
}

.bbx-icon-pad:before {
  content: "\e64e";
}

.bbx-icon-template:before {
  content: "\e66e";
}

.bbx-icon-layer:before {
  content: "\e623";
}

.bbx-icon-yuanbing:before {
  content: "\e60e";
}

.bbx-icon-kaiqizhong:before {
  content: "\e60d";
}

.bbx-icon-shouji:before {
  content: "\e609";
}

.bbx-icon-diannao:before {
  content: "\e60a";
}

.bbx-icon-xiaochengxu:before {
  content: "\e60b";
}

.bbx-icon-weixin:before {
  content: "\e60c";
}

.bbx-icon-gengduo:before {
  content: "\e601";
}

.bbx-icon-dazhuanpan:before {
  content: "\e604";
}

.bbx-icon-hongbao:before {
  content: "\e605";
}

.bbx-icon-youhuiquan:before {
  content: "\e606";
}

.bbx-icon-zhekoucuxiao:before {
  content: "\e607";
}

.bbx-icon-jifenshangcheng:before {
  content: "\e608";
}

.bbx-icon-lang-zh-cn:before {
  content: "\e7a0";
}

.bbx-icon-pc:before {
  content: "\e624";
}

.bbx-icon-applet:before {
  content: "\e602";
}

.bbx-icon-phone:before {
  content: "\e735";
}

.bbx-icon-settings:before {
  content: "\e64c";
}

.bbx-icon-home:before {
  content: "\e651";
}

.bbx-icon-shop:before {
  content: "\e6b7";
}

.bbx-icon-user:before {
  content: "\e603";
}

.bbx-icon-doc:before {
  content: "\e618";
}

.bbx-icon-website:before {
  content: "\e67d";
}

.bbx-icon-wx:before {
  content: "\e61a";
}

.bbx-icon-distributor:before {
  content: "\e61e";
}

.bbx-icon-dc:before {
  content: "\e62e";
}

.bbx-icon-spread:before {
  content: "\e6f2";
}

.bbx-icon-agent:before {
  content: "\e625";
}

.bbx-icon-app:before {
  content: "\e622";
}

.bbx-icon-ico-menu:before {
  content: "\e780";
}

.bbx-icon-list-menu:before {
  content: "\e66b";
}

